@import url("https://fonts.googleapis.com/css?family=Muli:300,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, rgb(172, 92, 218), #cb32e9);
  
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.box {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  max-width: 500px;
}

.box h2 {
  margin: 10px 0 0;
}

.box p {
  color: #312940;
  margin: 10px;
}

.box img {
  max-width: 100%;
  width: 300px;
}

.form-control {
  position: relative;
  margin: 30px 0 20px;
}

.input {
  border: 0;
  border-radius: 50px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  display: block;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  height: 42px;
  padding: 12px 25px;
  width: 100%;
}

.btn {
  background-color: #3c2940;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  height: 42px;
  padding: 12px 25px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.input:focus,
.btn:focus {
  outline: 0;
}

/* SOCIAL PANEL CSS */
.social-panel-container {
  position: fixed;
  right: 0;
  bottom: 80px;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
  transform: translateX(-10px);
}

.social-panel {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
  border: 5px solid #001f61;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Muli";
  position: relative;
  height: 169px;
  width: 370px;
  max-width: calc(100% - 10px);
}

.floating-btn {
  border-radius: 26.5px;
  background-color: #001f61;
  border: 1px solid #001f61;
  box-shadow: 0 16px 22px -17px #03153b;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.floating-btn:hover {
  background-color: #ffffff;
  color: #001f61;
}

.floating-btn:focus {
  outline: none;
}

.floating-text {
  background-color: #001f61;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-family: "Muli";
  padding: 7px 15px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 998;
}

.floating-text a {
  color: #ff7500;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .social-panel-container.visible {
    transform: translateX(0px);
  }

  .floating-btn {
    right: 10px;
  }
}
